.lsm-bar-chart {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2px;

  background-color: var(--ls-secondary-background-color);
  color: var(--ls-secondary-text-color);
  font-size: 80%;
  overflow: hidden;
}

.lsm-bar-chart-label {
  display: inline-block;
  text-align: right;
  padding: 0 6px;
}

.lsm-bar-chart-bar {
  border-radius: 0 10px 10px 0;
  background-color: var(--ls-page-checkbox-color);
  box-shadow: 1px 1px 2px var(--ls-tertiary-border-color);
  padding: 1px;
  text-align: right;
}

.lsm-bar-chart-bar span {
  box-sizing: border-box;
  display: inline-block;
  background-color: var(--ls-tertiary-background-color);
  border: 1px solid var(--ls-page-checkbox-color);
  border-radius: 8px;
  padding: 0 5px;
  height: 20px;
}
