div[data-macro-name="calendar"] .custom-query>.th {
    display: none;
}

div:has(div[data-macro-name="calendar"])~div.block-properties {
    display: none;
}


.lsm-calendar {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;

    box-shadow: 2px 3px 8px 1px color-mix(in srgb, var(--ls-border-color) 50%, transparent 50%);

    margin: 5px 2px;
}

.lsm-calendar.lsm-hide-weekends {
    grid-template-columns: 0 repeat(5, 1fr) 0;
}

.lsm-calendar>* {
    box-shadow: 0 0 0 1px color-mix(in srgb, var(--ls-border-color) 30%, transparent 80%);
    background-color: var(--ls-primary-background-color);
}

.lsm-calendar>h2 {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    padding: 2px;
    text-align: center;
}

.lsm-calendar>div {
    padding: 0 2px 0 3px;
    height: 120px;
    overflow: hidden;
}

.lsm-calendar>div::-webkit-scrollbar {
    width: 4px;
}

.lsm-calendar>div:hover {
    overflow: auto;
}

.lsm-calendar>div:hover li {
    overflow: visible;
    margin: 0;
}

.lsm-calendar>div:hover a {
    white-space: nowrap;
}

/* Weekend Days */
.lsm-calendar>div:nth-child(7n),
.lsm-calendar>div:nth-child(7n+1) {
    background-image: repeating-linear-gradient(315deg,
            var(--ls-primary-background-color),
            var(--ls-primary-background-color) 10px,
            var(--ls-secondary-background-color) 10px,
            var(--ls-secondary-background-color) 20px);
}

.lsm-calendar.lsm-hide-weekends>*:nth-child(7n),
.lsm-calendar.lsm-hide-weekends>*:nth-child(7n+1) {
    visibility: hidden;
}

.lsm-calendar>div.lsm-today {
    background-color: var(--ls-primary-background-color);
    outline: 1px solid var(--ls-active-primary-color);
    border-radius: 2px;
    outline-offset: 1px;
    z-index: 1;
}

.lsm-calendar>div>a {
    margin: 1px 0;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    padding-right: 5px;

    display: block;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px var(--ls-primary-background-color);
}

.lsm-calendar ul {
    margin: 0;
}

.lsm-calendar li {
    list-style: none;
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
}

.lsm-calendar li>a {
    border: none;
    padding: 0;
    margin: 0;
}

.lsm-calendar .lsm-task.DONE>a,
.lsm-calendar .lsm-task.CANCELED>a {
    text-decoration: line-through;
    opacity: 0.5;
    background-color: transparent;
}

.lsm-calendar .lsm-past .lsm-task.CANCELED {
    display: none;
}

.lsm-calendar .lsm-task.lsm-overdue a {
    background-color: var(--ls-error-background-color);
    color: var(--ls-error-text-color);
}

.lsm-calendar .lsm-event .lsm-time {
    font-size: 10px;
    letter-spacing: -0.8px;
    margin: 0 2px 0 0;
    display: inline-block;
    /* text-decoration: underline; */
    opacity: 60%;
}


/*
.lsm-calendar .lsm-task>a::before {
    display: inline-block;
    width: 14px;
    height: 14px;
    overflow: hidden;
    position: relative;
    top: 2px;

    opacity: 0.8;

    margin-left: 1px;
    border-radius: 7px;
    background-color: var(--ls-link-text-color);

    text-align: center;
    font-weight: 600;
    color: var(--ls-primary-background-color);
}

.lsm-calendar .lsm-task>a::before {
    content: '⇢';
}

.lsm-calendar .lsm-task.lsm-scheduled>a::before {
    content: '↳';
}

.lsm-calendar .lsm-task.CANCELED>a::before {
    content: '✕';
}

.lsm-calendar .lsm-task.DONE>a::before {
    content: '✓';
}

*/
.lsm-calendar .lsm-past li:not(.TODO)>a {
    opacity: 0.5;
}
