div[data-macro-name="calendar"] .custom-query>.th {
    display: none;
}

div:has(div[data-macro-name="calendar"])~div.block-properties {
    display: none;
}


.lsm-calendar {
    box-shadow: 2px 3px 8px 1px color-mix(in srgb, var(--ls-border-color) 50%, transparent 50%);
    margin: 5px 2px;

    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.lsm-calendar.lsm-hide-weekends {
    grid-template-columns: 0 repeat(5, 1fr) 0;
}

.lsm-calendar>* {
    box-shadow: 0 0 0 1px color-mix(in srgb, var(--ls-border-color) 30%, transparent 80%);
    background-color: var(--ls-primary-background-color);
}

.lsm-calendar>h2 {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    padding: 2px;
    text-align: center;
}

.lsm-calendar>.lsm-day {
    padding: 0 2px 0 3px;
    height: 120px;
    overflow: hidden;
}

.lsm-calendar>.lsm-day::-webkit-scrollbar {
    width: 4px;
}

.lsm-calendar>.lsm-day:hover {
    overflow: auto;
}

.lsm-calendar>.lsm-day:hover li {
    overflow: visible;
    margin: 0;
}

.lsm-calendar>.lsm-day:hover a {
    white-space: nowrap;
}

/* Weekend Days */
.lsm-calendar>.lsm-day:nth-child(7n),
.lsm-calendar>.lsm-day:nth-child(7n+1) {
    background-image: repeating-linear-gradient(315deg,
            var(--ls-primary-background-color),
            var(--ls-primary-background-color) 10px,
            var(--ls-secondary-background-color) 10px,
            var(--ls-secondary-background-color) 20px);
}

.lsm-calendar.lsm-hide-weekends>*:nth-child(7n),
.lsm-calendar.lsm-hide-weekends>*:nth-child(7n+1) {
    visibility: hidden;
}

.lsm-calendar>.lsm-day.lsm-today {
    background-color: var(--ls-primary-background-color);
    outline: 1px solid var(--ls-active-primary-color);
    border-radius: 2px;
    outline-offset: 1px;
    z-index: 1;
}

.lsm-calendar>.lsm-day>a {
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    display: block;
}

.lsm-calendar .lsm-entries {
    display: flex;
    flex-direction: column;
    grid-template-columns: min-content max-content;
    color: var(--ls-link-text-color);
}

.lsm-calendar .lsm-entries>* {
    font-size: 12px;
    white-space: nowrap;
}

.lsm-calendar .lsm-entries .ti {
    transform: none;
    line-height: inherit;
}


.lsm-calendar .lsm-entries a {
    display: flex;
    gap: 3px;
    border: none;
    padding: 0;
    margin: 0;
}

.lsm-calendar .lsm-entries a .lsm-time {
    font-size: 10px;
    letter-spacing: -0.8px;
    margin: 0 2px 0 0;
    display: inline-block;
    /* text-decoration: underline; */
    opacity: 60%;
    transform: translateY(2px);
}

.lsm-calendar .lsm-task {
    background-color: var(--ls-secondary-background-color);
}

.lsm-calendar .lsm-past a:not(.lsm-overdue),
.lsm-calendar .DONE,
.lsm-calendar .CANCELED,
.lsm-calendar .CANCELLED {
    opacity: 0.4;
    background-color: transparent;
}

.lsm-calendar .DONE span,
.lsm-calendar .CANCELED span,
.lsm-calendar .CANCELLED span {
    text-decoration: line-through;
}

.lsm-calendar .lsm-past .CANCELED,
.lsm-calendar .lsm-past .CANCELLED {
    display: none;
}

.lsm-calendar .lsm-overdue {
    background-color: var(--ls-error-background-color);
    color: var(--ls-error-text-color);
}
